<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Archives &amp; Libraries | Field Notes</title>
  <link rel="canonical" href="https://shannonfield.com/resources/archives-libraries/">
  <meta name="robots" content="noindex, follow">
  <meta http-equiv="refresh" content="0; url=/resources/archives-libraries/">
  <script>location.replace("/resources/archives-libraries/");</script>
</head>
<body>
  <p>This page has moved. If you are not redirected automatically, <a href="/resources/archives-libraries/">click here to go to Archives &amp; Libraries</a>.</p>
</body>
</html>