---
layout: layouts/person.njk
name: Joshua Woodruff
surname: Woodruff
direct_line: true
generation: 5
birth_year: 1818
death_year: 1893
birth_place: Bloomfield Township, Jackson County, Ohio
research_status: Active
vitals:
  - event: Birth
    date: 15 Sep 1818
    place: Bloomfield Township, Jackson County, Ohio
    status: Unverified
    source: "Not yet documented"
  - event: Death
    date: 2 Feb 1893
    place: Scioto Township, Jackson County, Ohio
    status: Unverified
    source: "Not yet documented"
---