---
title: "Pards"
back_url: "/writings/please-go-to-hell/"
back_label: "Back to \"Please Go to Hell\""
---

<p>John's affectionate sketch of two of the friends he grew up and later worked with: Floyd Dooley, one of three children raised by their widowed mother after their father's early death, and Harry Bucher, a thin, deep-voiced boy from a large, poor family whom Floyd took under his wing and let play the hero in their games.</p>

<section class="source-doc-transcript">
  <p>It is hard to picture any other small town with as many widows and widowers taking care of their families as the town of Creede in the 1920s and 1930s. It was definitely a struggle and, to their credit, the children turned out very well, succeeding in every walk of life.</p>

  <p>I was a seasoned miner by the time Floyd Dooley began work in the mines and we were teamed in a stope. It was no handicap for either of us because what he lacked in experience he made up in common sense and drive. I enjoyed every working day with my "Pard" Floyd.</p>

  <p>The Dooleys, Eugene, Floyd, and Nora, lost their father when they were little shavers and two stepdads, following, were less than gentle with them. They had a cow, a few chickens and the mother, Alma was a loving person and a hard worker. Alma Wintz Dooley and Red were from pioneer Creede families.</p>

  <p>Even as a child, Floyd was well muscled and strong. He always took up for the underdog so it was natural that he and Harry Bucher would become friends and Floyd would protect him. Harry was from a large family that arrived in Creede in the 1930s, lived in a three room house near the mesa and were as destitute as a family could be and survive. Harry was so thin, every bone in his body showed but he was equipped with an adult voice, very deep and raspy.</p>

  <p>At lunch break, one day, in the Amethyst Mine, Floyd told me about playing with Harry and how he let Harry be the "White Hat," always the hero, and how it seemed to help him cope with his problems. They had enjoyed a rousing game, one day, when Floyd realized what time it was and told Harry, "I'm late, I have to go home." He said Little Harry, with his toothpick arms, grabbed him and barked, "You ain't going nowhere until I'm t'rough witcha." Floyd said he started to laugh then begged, "Please don't hurt me, Harry, but I really have to go." Harry excused him and ordered, "Okay, just don't try it again."</p>

  <p>Let us remember people like Floyd Dooley and feel honored to have known them.</p>
</section>
