---
title: "The Price of Glory"
back_url: "/writings/please-go-to-hell/"
back_label: "Back to \"Please Go to Hell\""
sensitivity_tags:
  - "Addiction"
---

<p>Twenty-three years and several moves removed from Creede, John reflects on the many homes he and Inez cycled through afterward, and on the peculiar kind of fame the town remembers him for: not his years of real success at Freeport Exploration Company, but the night he wrapped a fifty-five-gallon oil barrel around his truck's front axle and pushed it seven drunken blocks, coming to rest in a snowbank in full view of the schoolhouse where his sister, Bubbles, was a student.</p>

<section class="source-doc-transcript">
  <p>It has been twenty three years since <a href="/people/john-richard-jackson/#inez-mae-schriver">Inez</a> and I moved from Creede with the help of a moving van and a pickup with loaded trailer. We moved to West side Montrose where we could better care for her parents. This move was followed by a move to East Montrose, from there to Powderhorn, Powderhorn to Cedaredge, and three moves in Cedaredge before Inie's death. I have since moved three times. We weren't trying to set a record and I can't honestly provide an excuse for our nomadic ways unless we were following the advice of Jim Basham. We were childless and remained that way even though Jim told us "You have to move where they grow kids." Jim was an expert in that field.</p>

  <p>We moved five times in Creede in renting two homes, buying another, and building two that we moved into for brief periods, unsure if they would remain standing as I was no carpenter. I was relieved and pleased, on my last visit to Creede, to find both structures still standing and occupied. One has even become the Cajun Embassy under the command of T. Black, I am told. He has reinforced the structure with a high, metal fence and other braces I was unable to see. A stone chimney steadies the other home and is probably cabled to buried weights to keep it from falling over.</p>

  <p>I failed to find my niche in Creede over a span of 50 years and have had no better luck since though the years with Freeport Exploration Company gave me more opportunity to fake knowledge of geology and geophysics and thoroughly confuse my superiors. I was shifted around so much no one really knew what my duties were supposed to be which gave me much free time to wander over several states, coloring maps to be included with reports from a host of areas that were both mineralized and sporting good fishing streams. Unfortunately, my employer was absorbed by another firm with supervisors who could spot fakes and freeloaders. I was offered a position in Reno, Nevada where I would be under close scrutiny and have to produce viable exploration targets the school of hard knocks had not prepared me for. We parted amiably and I am deeply appreciative for the opportunities the company afforded me.</p>

  <p>What this is leading to defies me unless it would be to acquaint those in Creede at this date who are unaware how successful I became in one field while residing in Creede. I am reminded, each time I return, by the faithful, including Mike McClure, that I am the only drunk to wrap a 55-gallon oil barrel around the front axle of his truck and push it a total of seven blocks before it veered me into a large snowbank. I was resting there when the town Marshal, my old friend, Bill Kolisch, found me and put me in the care of my wife rather than a cold jail cell. I revel in my fame. Success wasn't exactly the goal and there was a valid reason for my condition which I was unable to explain to the spectators or my wife.</p>

  <p>It had been a miserable winter day in East Willow Creek Canyon. Plowing snow had forced us to run a bulldozer ahead of the truck, the ore was frozen in the bin at the Phoenix Mine and the compressor balked at starting. In midafternoon, with the wind still blowing and the temperature falling, I pulled the crew from the mine to mush to Creede and Tomkins Hardware where we would cut and thread steel pipe to finish the shift. I went in the rear of Fred Ryden's drugstore and came back with a bottle of whiskey to warm us from the inside out. It went fast and Gene McClure excused himself and came back with a quart. By this time, Fred Ryden, an avid prospector as well as our druggist, decided to join the party and brought another bottle. We were all feeling no pain and at peace with the world when Newt Turnquist, a salesman for Union Supply Company and a veteran tippler, came from the Creede Hotel, sized up the situation, and added a bottle to our stock.</p>

  <p>Drunk as I was, my mind impressed me with a picture of my bride and what her reaction would be if she learned of my condition from someone other than myself. I don't remember if I made a proper exit from such an entertaining group or how the truck and I wound up among the empty oil barrels in Tomkins vacant lot, but one of them refused to be knocked aside and became my nemesis for the remainder of my journey. The barrel locked a tie rod and veered me into a snowbank in the worst possible location, very near a schoolhouse where my sister, <a href="/people/alice-josephine-davis/#pauline-roberta-jackson-bates">Bubbles</a>, was a scholar. I had shamed her several times, previously, but never before such an audience of her peers, her teachers and the resident minister.</p>
</section>
