---
layout: layouts/source-doc.njk
title: "Information Sought on the Eli Staggs Family"
back_url: "/journal/the-spark/"
back_label: "Back to \"The Spark\""
intro: "The following article appeared in the Woodruff County Historical Society, Summer 1981 edition, pages 18–19. It was written by Mrs. John B. Kittrell, Sr., based on information supplied by Beulah Bates Chenault, youngest daughter of Minnie Staggs and William W. Bates. This publication is out of print, but was kindly scanned and shared courtesy of the Woodruff County Historical Society, June 2020."
image:
  src: "/images/site/wchs-eli-staggs-article-1981.jpg"
  alt: "Scanned two-page spread from the 1981 Woodruff County Historical Society newsletter, headlined 'Information Sought on the Eli Staggs Family,' with two photographs: a tintype-derived portrait of Arminda 'Minnie' Staggs Bates and a photograph of Charles Staggs."
  caption: "Woodruff County Historical Society, Summer 1981, pp. 18–19."
---

<p><strong>Information Sought on the Eli Staggs Family</strong><br>
<em>By Mrs. John B. Kittrell, Sr.</em></p>

<p>Eli Staggs was an early pioneer of Woodruff county. A granddaughter, Beulah Bates Chenault, lives at Millican, Texas, and has sent some information concerning the family. She has asked that if any in the county have additional information to please get in touch with her.</p>

<p>Eli Staggs married a Miss Berry at Morrilton, Arkansas. One son, George, was born of this union. His mother died in childbirth in 1862 or 1863. Eli married her sister, Nancy Jane Berry, and they were the parents of three children, George B., and twins Robert M. and Arminda. Susan E. Staggs is mentioned in Eli's will, and it is thought that she was probably his mother.</p>

<p>Nancy Jane Staggs died about 1869. After her death, a brother, Burton Berry, and his wife took the three young children to rear. Records at the Court House show that Burton Berry, who was a Confederate veteran, was an heir of Garrett Berry who died in June of 1873. Their relationship is not known.</p>

<p>Eli Staggs was killed by unknown hands August 18, 1866. His daughter, Arminda, or Minnie, as she liked to be called, married William Webster Bates at Morrilton December 22, 1887. The couple were the parents of eight children: Willie Lee, born October 27, 1888, died September 26, 1975, at Newport; Jessie Earl Bates, born October 31, 1891, died February 3, 1969, at Crawford, Texas; Ada Pearl, born January 5, 1894, and is living in Goldwater, Texas; Nora Minnie, born October 7, 1897, died March 15, 1918 at Goldwater; Chancey C. Bates, born August 22, 1900, died September 2, 1900 at El Dorado, Oklahoma; Robert Webster, born August 3, 1901, is living; Albert L. Z., born May 1, 1904, living in El Dorado, Oklahoma, and Beulah Beatrice, born June 1, 1907, and living in Millican, Texas.</p>

<p>William Webster Bates, the husband of Arminda, was born in Newton, Georgia, on November 25, 1860, and was brought to Arkansas as a very young child. He died August 13, 1926 at the age of 69 years, and is buried at El Dorado, Oklahoma. Arminda died August 12, 1935, and is also buried at El Dorado.</p>

<p>George and Robert Staggs, sons of Eli, both died in the 1930s. Both of them were married. One of them married a young woman named Beulah, but it is not known which of the brothers was her husband. After her husband's death, she married a Mr. Todd. Beulah Chenault was named for her.</p>

<p>Burton Berry, brother of Eli Staggs's two wives, died June 27, 1899. His first wife, Mary J., died February 5, 1881. One son, Clarence Preston Berry, is buried in the Odd Fellow's Cemetery near McCrory. Burton's second wife, Ester, is buried in the Stracener Cemetery. She was born November 9, 1841, and died April 26, 1886. The Stracener Cemetery is one-half mile north of Wiville in Woodruff county.</p>

<p>There are many gaps in the story of this family, and especially their life in Woodruff county. If any further information is found, it should be sent to Mrs. Beulah Bates Chenault, Millican, Texas, P.O. Box 402, 77866.{% cite "kittrell-eli-staggs-family-1981" %}</p>